* {
    font-family: 'Times New Roman', Times, serif;
}

.results-history-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5rem;
    align-items: center;
    margin-top: 3.5rem;
}

.results-history-container p {
    font-size: 2rem;
}

.results-history table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}